/* Write your CSS here */
.latest-card {
  display: flex;
  flex-direction: column;
  width: 230vh;
}
.recent-match {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.img-2 {
  height: 55vh;
  width: 99vw;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Optional: removes bullets */
}
.app-team-matches-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.RCB {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.KKR {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.KXP {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.CSK {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.RR {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.MI {
  background: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}
